.industry_main_left .list {
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    border: 1px solid #dedede;
    background: url("../img/add_gray.png") right bottom no-repeat;
}

.industry_main_left .list .list_date {
    width: 70px;
    height: 70px;
    background: #969393;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;

}

.list .list_date h1 {
    font-size: 18px;
    margin-top: 14px;

}
.industry_main_left .list:hover .list_meeting a{
     color: #B20000;
}
.industry_main_left .list:hover{
    background: url("../img/add_blue.png")  right bottom no-repeat;
}
.industry_main_left .list:hover .list_date{
    background:rgb(17, 90, 156)
}
.list .list_date p {
    font-size: 14px;
}

.industry_main_left .list .list_meeting h3 {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 10px;
}

.industry_main_left .list .list_meeting a {
    font-size: 12px;
    color: #808080;
    display: block;
    width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}