.medicine_detail .medicine_detail_main h1{
    font-size: 26px;
    text-align: center;
}
.medicine_detail_main .date{
    text-align: center;
    padding: 25px 0;
}
.medicine_detail_main .date div{
    display: inline-block;
    margin-left: 10px;
}
.medicine_detail_main .date span{
    font-size: 12px;
    color: #dadada;
}
.medicine_detail_main>a img{
    display: block;
    margin: 0 auto;
}
.medicine_detail_main .medicine_des{
    margin-top: 30px;
}
.medicine_detail_main .medicine_des h3{
   font-size: 20px;
   line-height: 30px;
   font-weight: 100;
}
.medicine_detail_main .medicine_des p{
    font-size: 14px;
    line-height: 30px;
    margin-top: 10px;
    color: #b7b7b7;
}