/* .news_content {
    padding: 20px 0;
} */

.news_content .news_content_left .img_box {
    width: 230px;
    height: 140px;
}

.news_content_left .enterprise,
.news_content_left p {
    padding-left: 20px;
    clear: both;
}

.news_content_left p a{
    width: 600px;
    display: block;
    font-size: 12px;
    color: #888888;
    margin-top: 10px;
    height: 60px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.news_content_left .experience {
    width: calc(100% - 250px);
}
.news_content_left .experience:hover p>a{
    color: #b20000
}
.news_content_left .experience .description a {
    padding: 6px 22px;
    background: #ffffff;
    font-size: 12px;
    /* margin: 20px 0 20px 20px; */
    float: left;
    border: 1px solid #dedede;
}

.news_content_left .enterprise h2 a{
    float: left;
    font-size: 16px;
    color: #000;
    /* margin-top: 30px; */
}

.news_content_left .enterprise span {
    float: right;
    color: #808080;
    font-size: 12px;
}
.news_content_left .description {
    /* line-height: 30px; */
    padding: 20px 0 20px 20px;
}
.news_content_left .description span{
    float: right;
    line-height: 30px;
    color: #808080;
    font-size: 12px;
}