.opertation_content table{
    margin: 0 auto;
    
}
.opertation_content table tr{
    width: 100%;
    
}
.opertation_content table thead{
    height: 76px;
    line-height: 76px;
    background: #ebebeb;
    font-size: 16px;
}
.opertation_content table tbody tr{
    text-align: center;
    height: 60px;
    color: blue;
    font-size: 14px;
}
.opertation_content  tbody tr:nth-child(2n+1){
    background: #fff;
}
.opertation_content  tbody tr:nth-child(2n){
    background: #ebebeb;
}
.opertation_content{
    margin-bottom: 30px;
}
.opertation_content .page_right{
    float: left;
}
.opertation_content .page_left{
    float: right;
    width: 72.5%;
    /* border: 1px solid #000; */
}
.piclist{
    padding-left: 30px;
    padding-top: 20px;
}
.piclist li{
    background: none;
    width: 224px;
    height: 200px;
    float: left;
    margin: 0 22px;
    display: inline;
    overflow: hidden;
    text-align: center;
    line-height: 160%;
}
.piclist li a:hover{
   color: #F24934;
   text-decoration: underline;
}
.piclist li a{
    color: #000;
}